fastapi
uvicorn[standard]
python-multipart
numpy
opencv-python-headless
onnx
onnxruntime
requests
sqlalchemy
pymysql
psycopg2-binary
python-dotenv
google-cloud-storage
cloud-sql-python-connector[pymysql]
pydantic
pydantic-settings
pytest
httpx
